<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Gisa Chat</title>
    <script src="../static/vars.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="../static/egain-client-library.0.0.25.min.js"></script>
    <script src="../static/egain-middleware.js"></script>
    <script src="../static/main.js"></script>
</head>
<body>
    <div id ="customer-properties" class="customer-properties">
        <form id="customer-properties-form">
            <input type="text" id="txt_firstname"class="customer-properties-fields" placeholder="Nome">
            <input type="text" id="txt_lastname" class="customer-properties-fields" placeholder="Sobrenome">
            <input type="email" id="txt_email" class="customer-properties-fields" placeholder="E-mail">
            <button class="submit_cl" type="submit" id="btn_login">Entrar</button>
        </form>
    </div>
    <div id="div_chat_body" class="chat-body"></div>
    <!--<div id="agent" class="agent">
        <img src="../static/energisa.png" alt="Energisa">
        <p>Bem-vindo ao Chat da Gisa</p>
        <span class="time-right">11:00</span>
    </div>-->
    <!--<div id="customer" class="customer">
        <img src="../static/customer.png" alt="Cliente">
        <p>I'm good</p>
        <span class="time-left">11:01</span>
    </div>-->
    <div class="message-div">
        <form id="message-input-form">
            <input class="txt_input_cl" type="text" id="txt_input" placeholder="Entre com sua mensagem">
            <button class="submit_cl" type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>